@model UsersDTO

<div class="user-panel mt-3 pb-3 mb-3 d-flex">
    <div class="image">
        <img src="@Model.ImagePath" class="img-circle elevation-2" alt="User Image">
    </div>
    <div class="info">
        <a asp-controller="AppUser" asp-action="Profil" class="d-block">@Model.FullName</a>
    </div>
</div>