@model EditPwDTO
<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Kullanıcı Şifre güncelleme Paneli</h3>
    </div>
    <form asp-action="EditPw" method="post">

        <input asp-for="PW" type="hidden" />
        <input asp-for="Id" type="hidden" />
        <input asp-for="identityId" type="hidden" />

        <div class="form-group">
            
            <label asp-for="PW">Current Password</label>
             <img  src="~/eye-slash-fill.svg" onclick="pw()"/> 
            <input asp-for="PW" id="pwshow"   class="form-control" type="password" />
            <span asp-validation-for="PW" class="text-danger"></span>
            
        </div>

        <div class="form-group">
            <label asp-for="NewPassword">New Password</label>
            <img  onclick="newpw()" src="~/eye-slash-fill.svg" />
            <input asp-for="NewPassword" id="newpwshow" class="form-control" type="password" />
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="ConfirumNewPassword">Confirum New Password</label>
            <img  onclick="confirumnewpw()" src="~/eye-slash-fill.svg" />
            <input asp-for="ConfirumNewPassword" id="confirumnewpwshow" class="form-control" type="password" />
            <span asp-validation-for="ConfirumNewPassword" class="text-danger"></span>
        </div>


        <div class="card-footer">
            <button type="submit" class="btn btn-primary">Kaydet</button>
        </div>
    </form>




</div>