@model EditUserNameDTO

<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Kullanıcı adı guncelleme Paneli</h3>
    </div>
    <form asp-action="EditUserName" method="post">
        @*<input asp-for="ID" type="hidden" />*@
        <input asp-for="IdentityID" type="hidden" />
        <div class="form-group">
            <label asp-for="UserName">UserName</label>
            <input asp-for="UserName" class="form-control" type="text" />
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary">Kaydet</button>
        </div>
    </form>
</div>