@model List<PassiveUserListDTO>
@foreach (var item in Model)
{
    <div class="card" style="width: 18rem;">
  <img src="@item.ImagePath" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">@item.FullName</h5>
    <p class="card-text">@item.UserName</p>
    <a asp-action="Active" asp-route-id="@item.ID" class="btn btn-primary">Hesabı Aktif Et</a>
  </div>
</div>
    
}
