@model List<Category>
<div class="card">
              <div class="card-header">
                <h3 class="card-title">Kategori Listesi</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body p-0">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Kategori Ad</th>
                      <th>Kategori Açıklama</th>
                    </tr>
                  </thead>

                  <tbody>
                      @foreach (var item in Model)
                     {
                        <tr>
                            <td>@item.Name</td>
                            <td>@item.Description</td>
                            <td>
                                <a asp-action="Active" asp-route-id="@item.ID"> 
                                    Aktif Et                                     
                                </a>
                            </td>                            
                        </tr>
                     }                  
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>